*{
  margin: 0;
  padding: 0;
  /* font-family: sans-serif; */
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5) !important; 

}


.collection {
  display: flex;
  flex-direction: row;
}

.sidebar {
  width: 200px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(9, 9, 9, 0.953); 
  overflow-y: scroll;
  transition: transform 0.3s ease;
  transform: translateX(0);
  z-index: 2;
  -ms-overflow-style: none;
  scrollbar-width: thin;
}

.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
  width: 100%;
}

.sidebar a:hover {
  background-color: #555;
  color: white;
} 


/* Hamburger Menu Styles */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 3;
}

.menu-toggle .bar {
  height: 3px;
  width: 25px;
  background: #fff;
  margin: 4px 0;
  transition: all 0.3s ease;
}

section {
  min-height: 100vh;
}

section> h2 {
  margin: 10px 0px;
  color: red;
}

code {
  color: skyblue;
}


.content {
  margin-left: 200px;
  width: 100%;
  color: white;
  padding-top: 20px 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}


.code-container {
  width: inherit;
  position: relative;
  /* display: inline-block; */
  }

pre {
  background: rgba(0, 255, 251, 0.1) !important; 
  padding: 10px;
  border-radius: 4px;
  overflow: auto;
}
  
.copy-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  z-index: 1;
}

.copy-btn:hover {
  background-color: #0056b3;
}

code {
  font-size: 16px !important;
  display: block;
  padding: 10px;
  /* border: 1px solid #ddd; */
  border-radius: 24px;
}


@media (max-width: 768px) {
  .menu-toggle {
      display: flex;
  }

  .sidebar {
      transform: translateX(-100%);
  }

  .sidebar.show {
      transform: translateX(0);
  }

  .content {
      margin-left: 0 !important;
      padding: 20px;
      padding-top: 60px;
  }
  
}

@media (max-width: 480px) {
  code {
    font-size: 12px !important;
  }
}

@media (min-width: 768px) {
   .content {
    padding: 30px;
   }
}


.hidden {
  opacity: 0;
  transition: opacity 0.5s;
}

.visible {
  opacity: 1;
}
