*{
  margin: 0;
  padding: 0;
  /* font-family: sans-serif; */
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
}


.collection {
  display: flex;
  flex-direction: row;
  
}

.sidebar {
  width: 200px;
  height: 100%;
  position: fixed;
  overflow: scroll;
  scrollbar-width: thin;
  /* -ms-overflow-style: none; */
  background: #353535;
}

.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}

.sidebar a:hover {
  background-color: #555;
  color: white;
} 


/* Hamburger Menu Styles */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
}

.menu-toggle .bar {
  height: 3px;
  width: 25px;
  background: #fff;
  margin: 4px 0;
  transition: all 0.3s ease;
}

@media (max-width: 768px) {
  .menu-toggle {
      display: flex;
  }

  .sidebar {
      transform: translateX(-100%);
  }

  .sidebar.show {
      transform: translateX(0);
  }

  .content {
      margin-left: 0 !important;
      padding: 20px;
  }
}


.content {
  /* border: 5px solid red; */
  margin-left: 200px;
  width: 100%;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.code-container {
  width: inherit;
  /* display: inline-block; */
  }
  
.copy-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
}

.copy-btn:hover {
  background-color: #0056b3;
}

code {
  font-size: 16px !important;
  display: block;
  padding: 10px;
  /* border: 1px solid #ddd; */
  border-radius: 4px;
}

