* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  width: 100%;
  background: url(wallhav.png);
  background-attachment: fixed;
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Nav-Bar  */
.nav-bar {
  position: fixed;
  width: 100%;
  background: rgb(0, 0, 0);
  padding: 10px 0px;
  z-index: 1;
}

.nav-bar > .menu > ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin-bottom: 8px;
}

.nav-bar > .menu > ul > li {
  height: 40px;
}

.nav-bar li:first-child {
  margin-right: auto;
}
.nav-bar li:last-child {
  margin-right: 50px;
}

.nav-bar > .menu a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
  border-radius: 10px;
  font-weight: bolder;
}

.nav-bar > .scroll-content {
  width: 100%;
  border: 3px solid #2e2e2e;
  background-color: #333;
  overflow: scroll;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-weight: 600;
}

.navbar::-webkit-scrollbar {
  display: none;
}

.nav-bar > .scroll-content > a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 12px;
  border-radius: 10px;
  border-top: 1px solid rgb(255, 255, 255, 0.1);
  border-right: 1px solid rgb(255, 255, 255, 0.1);
}

.nav-bar > .scroll-content a:hover,
.nav-bar > .menu a:hover {
  color: #38bdf8;
  font-weight: 700;
  border-bottom: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
}

h1 {
  padding: 30px 0px 10px 0px;
}

.collection {
  display: flex;
  flex-direction: row;
}

.sidebar {
  margin-top: 116px;
  width: 250px;
  height: 100%;
  position: fixed;
  background: rgba(9, 9, 9, 0.953);
  overflow-y: scroll;
  transition: transform 0.3s ease;
  transform: translateX(0);
  z-index: 2;
  scrollbar-width: thin;
  scrollbar-color: #ffffff #2c2c2c;
}

.sidebar a {
  display: block;
  color: rgb(255, 255, 255, 0.8);
  font-size: 1rem;
  text-decoration: none;
  width: 100%;
  margin-left: 10px;
  padding: 10px;
  border-left: 2px solid rgb(255, 255, 255, 0.1);
  scrollbar-color: black;
}

.sidebar a.active {
  color: #38bdf8;
  border-left: 2px solid #ffffff;
}

/* Hamburger Menu Styles */
.menu-toggle {
  display: none;
  position: fixed;
  top: 60px;
  left: -4px;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 16px;
  border-radius: 0px 10px 10px 0px;
}

#content {
  margin-left: 250px;
  width: 100%;
  color: white;
  padding-top: 20px 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#content > div > h2 {
  margin: 10px 0px;
  color: rgb(203, 39, 39);
}

#content > .code-block:first-of-type {
  margin-top: 80px;
}

.main-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.codeBlock {
  font-family: cursive;
}

pre {
  background: rgba(2, 3, 3, 0.473) !important;
  padding: 10px;
  border-radius: 4px;
  overflow: auto;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(10px);
  position: relative;
}

.copy-button {
  padding: 5px 10px;
  margin-left: 85%;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.copy-button:hover {
  background-color: #3c72ac8b;
}

code {
  font-size: 16px !important;
  display: block;
  padding: 10px;
  border-radius: 24px;
}

.code-wrapper {
  margin: 0;
}

/* .output {
  margin-top: 16px;
  width: 400px;
  height: 200px;
  background-color: #b66666;
} */

.main-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.output {
  margin: 16px 0px;
  width: 400px;
  height: auto;
  background-color: #262626;
  border-radius: 8px;
  overflow: hidden;
  font-family: monospace;
}

.toggle-header {
  background-color: #141414;
  padding: 10px 14px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.arrow {
  transition: transform 0.3s ease;
}

.arrow.open {
  transform: rotate(90deg);
}

.collapsible-content {
  padding: 10px 14px;
  border-top: 1px solid #8c3e3e;
  display: none;
  white-space: pre-line;
  color: #fff;
}

.collapsible-content.visible {
  display: block;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: flex;
  }

  .sidebar {
    transform: translateX(-100%);
  }

  .sidebar.show {
    transform: translateX(0);
  }

  #content {
    margin-left: 0 !important;
    padding: 20px;
    padding-top: 60px;
  }
   #content > .code-block:first-of-type {
  margin-top: 50px;
}
}

@media (max-width: 480px) {
  code {
    font-size: 12px !important;
  }
}

@media (min-width: 768px) {
  #content {
    padding: 30px;
  }
}

.hidden {
  opacity: 0;
  transition: opacity 0.5s;
}

.visible {
  opacity: 1;
}
